           <h1 class="text-white title">My Cabinet</h1>

 {{#each drinks as |drink|}} {{log drink}}

<section>
  <div class="container py-3">
    <div class="card border-primary">
      <div class="row ">
        <div class="col-md-4">
          <img src="{{drink.strDrinkThumb}}" class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3" data-id="{{drink.id}}">
            <br> {{!-- close button --}}
            <button type="button" class="close deleteDrink" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{!-- end close --}}


            <h4 class="card-title">{{drink.strDrink}}</h4>


            <table style="width:100%">
              <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Serve In</th>
              </tr>
              <tr>
                <td>{{drink.strIngredient1}}</td>
                <td>{{drink.strMeasure1}}</td>
                <td>{{drink.strGlass}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient2}}</td>
                <td>{{drink.strMeasure2}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient3}}</td>
                <td>{{drink.strMeasure3}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient4}}</td>
                <td>{{drink.strMeasure4}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient5}}</td>
                <td>{{drink.strMeasure5}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient6}}</td>
                <td>{{drink.strMeasure6}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient7}}</td>
                <td>{{drink.strMeasure7}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient8}}</td>
                <td>{{drink.strMeasure8}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient9}}</td>
                <td>{{drink.strMeasure9}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient10}}</td>
                <td>{{drink.strMeasure10}}</td>
              </tr>
            </table>
            <br>
            <p>
              {{drink.strInstructions}}
            </p>

            <div data-id="{{drink.id}}">
              <ion-icon name="create" id="update{{drink.id}}" class="updateDrink" data-toggle="modal" data-target="#editModal{{drink.id}}">
              </ion-icon>
            </div>
            {{!-- end edit --}}
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>



{{!-- modal for recipes --}}
<div class="modal clearModal " id="editModal{{drink.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">{{drink.strDrink}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form id="{{drink.id}}" class="updater">
          {{!--
          <h4 class="display-4">Update Item</h4>
          <input type='text' name='item[item_name]' class="form-control" value="{{drink.strDrink}}">

          <textarea type='text' name='strInstructions[strInstructions]' class="form-control" rows="3">{{drink.strInstructions}}">/textarea>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
          <input type='text' name='drink[strDrink]' class="form-control" value="{{drink.strDrink}}">

   <table style="width:100%">
              <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient1]' class="form-control" value="{{drink.strIngredient1}}"></td>
                <td><input type='text' name='drink[strMeasure1]' class="form-control" value="{{drink.strMeasure1}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient2]' class="form-control" value="{{drink.strIngredient2}}"></td>
                <td><input type='text' name='drink[strMeasure2]' class="form-control" value="{{drink.strMeasure2}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient3]' class="form-control" value="{{drink.strIngredient3}}"></td>
                <td><input type='text' name='drink[strMeasure3]' class="form-control" value="{{drink.strMeasure3}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient4]' class="form-control" value="{{drink.strIngredient4}}"></td>
                <td><input type='text' name='drink[strMeasure4]' class="form-control" value="{{drink.strMeasure4}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient5]' class="form-control" value="{{drink.strIngredient5}}"></td>
                <td><input type='text' name='drink[strMeasure5]' class="form-control" value="{{drink.strMeasure5}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient6]' class="form-control" value="{{drink.strIngredient6}}"></td>
                <td><input type='text' name='drink[strMeasure6]' class="form-control" value="{{drink.strMeasure6}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient7]' class="form-control" value="{{drink.strIngredient7}}"></td>
                <td><input type='text' name='drink[strMeasure7]' class="form-control" value="{{drink.strMeasure7}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient8]' class="form-control" value="{{drink.strIngredient8}}"></td>
                <td><input type='text' name='drink[strMeasure8]' class="form-control" value="{{drink.strMeasure8}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient9]' class="form-control" value="{{drink.strIngredient9}}"></td>
                <td><input type='text' name='drink[strMeasure9]' class="form-control" value="{{drink.strMeasure9}}"></td>
              </tr>
              <tr>
                <td><input type='text' name='drink[strIngredient10]' class="form-control" value="{{drink.strIngredient10}}"></td>
                <td><input type='text' name='drink[strMeasure10]' class="form-control" value="{{drink.strMeasure10}}"></td>
              </tr>
            </table>

        {{!-- <input type='text' name='drink[strDrink]' class="form-control" value="{{drink.strDrink}}"> --}}
        <textarea type='text' name='drink[strInstructions]' class="form-control" rows="5">{{drink.strInstructions}}</textarea>
          <div data-id="{{drink.id}}">
            <button type="button" class="btn btn-primary updateButton">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{/each}}
