 {{#each drinks as |drink|}} {{log drink}}

<section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
          <img src="{{drink.strDrinkThumb}}" class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <br>
                     {{!-- close button --}}
            <button type="button" class="close deleteDrink" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{!-- end close --}}

            {{!-- end edit --}}
            <h4 class="card-title">{{drink.strDrink}}</h4>


            <table style="width:100%">
              <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Serve In</th>
              </tr>
              <tr>
                <td>{{drink.strIngredient1}}</td>
                <td>{{drink.strMeasure1}}</td>
                <td>{{drink.strGlass}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient2}}</td>
                <td>{{drink.strMeasure2}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient3}}</td>
                <td>{{drink.strMeasure3}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient4}}</td>
                <td>{{drink.strMeasure4}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient5}}</td>
                <td>{{drink.strMeasure5}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient6}}</td>
                <td>{{drink.strMeasure6}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient7}}</td>
                <td>{{drink.strMeasure7}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient8}}</td>
                <td>{{drink.strMeasure8}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient9}}</td>
                <td>{{drink.strMeasure9}}</td>
              </tr>
              <tr>
                <td>{{drink.strIngredient10}}</td>
                <td>{{drink.strMeasure10}}</td>
              </tr>
            </table>
            <br>
            <p>
              {{drink.strInstructions}}
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>

{{/each}}
