          <h1 class="text-white title">Search Results</h1>

<div class="row">


  {{#each drinks as |drink|}}

  {{!-- {{log drink}} --}}

  <div class="card  customBackground col-lg-4 col-md-6 col-sm-12 col-xs-12" id="cardTest{{drink.idDrink}}" data-id="{{drink.idDrink}}">
    <img class="card-img-top paddingCard" src="{{drink.strDrinkThumb}}" alt="Card image cap">
    <div class="card-body " data-id="{{drink.idDrink}}">
      <h5 class="card-title">{{drink.strDrink}}</h5>
      {{!-- <h6 class="card-title"> {{drink.idDrink}}</h6>
      <p class="card-text">This is where the drink description goes</p> --}}

  <div
        data-idDrink ="{{drink.idDrink}}"
        data-strDrink= "{{drink.strDrink}}"
        data-strGlass= "{{drink.strGlass}}"
        data-strInstructions= "{{drink.strInstructions}}"
        data-strDrinkThumb= "{{drink.strDrinkThumb}}"
        data-strIngredient1= "{{drink.strIngredient1}}"
        data-strIngredient2= "{{drink.strIngredient2}}"
        data-strIngredient3= "{{drink.strIngredient3}}"
        data-strIngredient4= "{{drink.strIngredient4}}"
        data-strIngredient5= "{{drink.strIngredient5}}"
        data-strIngredient6= "{{drink.strIngredient6}}"
        data-strIngredient7= "{{drink.strIngredient7}}"
        data-strIngredient8= "{{drink.strIngredient8}}"
        data-strIngredient9= "{{drink.strIngredient9}}"
        data-strIngredient10= "{{drink.strIngredient10}}"
        data-strMeasure1= "{{drink.strMeasure1}}"
        data-strMeasure2= "{{drink.strMeasure2}}"
        data-strMeasure3= "{{drink.strMeasure3}}"
        data-strMeasure4= "{{drink.strMeasure4}}"
        data-strMeasure5= "{{drink.strMeasure5}}"
        data-strMeasure6= "{{drink.strMeasure6}}"
        data-strMeasure7= "{{drink.strMeasure7}}"
        data-strMeasure8= "{{drink.strMeasure8}}"
        data-strMeasure9= "{{drink.strMeasure9}}"
        data-strMeasure10= "{{drink.strMeasure10}}"
  >
      <a href="#" class="btn btn-primary addSearchResult">log in to save</a>
</div>


      <button class="btn btn-warning" type="submit" data-toggle="modal" data-target="#searchModal{{drink.idDrink}}">Instructions</button>
    </div>
  </div>

  {{!-- modal for recipes --}}
  <div class="modal fade " id="searchModal{{drink.idDrink}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{drink.strDrink}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table style="width:100%">
            <tr>
              <th><b><u>Ingredient</u></b></th>
              <th><b><u>Quantity</u></b></th>
            </tr>
            <tr>
              <td>{{drink.strIngredient1}}</td>
              <td>{{drink.strMeasure1}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient2}}</td>
              <td>{{drink.strMeasure2}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient3}}</td>
              <td>{{drink.strMeasure3}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient4}}</td>
              <td>{{drink.strMeasure4}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient5}}</td>
              <td>{{drink.strMeasure5}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient6}}</td>
              <td>{{drink.strMeasure6}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient7}}</td>
              <td>{{drink.strMeasure7}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient8}}</td>
              <td>{{drink.strMeasure8}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient9}}</td>
              <td>{{drink.strMeasure9}}</td>
            </tr>
            <tr>
              <td>{{drink.strIngredient10}}</td>
              <td>{{drink.strMeasure10}}</td>
            </tr>
          </table>

          <br>
          <p>
            {{drink.strInstructions}}
          </p>
          <br>
          <p>
            best served in: {{drink.strGlass}}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 <div
        data-idDrink ="{{drink.idDrink}}"
        data-strDrink= "{{drink.strDrink}}"
        data-strGlass= "{{drink.strGlass}}"
        data-strInstructions= "{{drink.strInstructions}}"
        data-strDrinkThumb= "{{drink.strDrinkThumb}}"
        data-strIngredient1= "{{drink.strIngredient1}}"
        data-strIngredient2= "{{drink.strIngredient2}}"
        data-strIngredient3= "{{drink.strIngredient3}}"
        data-strIngredient4= "{{drink.strIngredient4}}"
        data-strIngredient5= "{{drink.strIngredient5}}"
        data-strIngredient6= "{{drink.strIngredient6}}"
        data-strIngredient7= "{{drink.strIngredient7}}"
        data-strIngredient8= "{{drink.strIngredient8}}"
        data-strIngredient9= "{{drink.strIngredient9}}"
        data-strIngredient10= "{{drink.strIngredient10}}"
        data-strMeasure1= "{{drink.strMeasure1}}"
        data-strMeasure2= "{{drink.strMeasure2}}"
        data-strMeasure3= "{{drink.strMeasure3}}"
        data-strMeasure4= "{{drink.strMeasure4}}"
        data-strMeasure5= "{{drink.strMeasure5}}"
        data-strMeasure6= "{{drink.strMeasure6}}"
        data-strMeasure7= "{{drink.strMeasure7}}"
        data-strMeasure8= "{{drink.strMeasure8}}"
        data-strMeasure9= "{{drink.strMeasure9}}"
        data-strMeasure10= "{{drink.strMeasure10}}"
  >
          <button type="button" class="btn btn-primary addSearchResult" data-dismiss="modal" >Log in to save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/each}}

</div>
