          <h1 class="text-white title">Search Results</h1>

<div class="row">


  {{#each drinks as |drink|}}

  {{!-- {{log drink}} --}}

  <div class="card marginEdit customBackground col-lg-4 col-md-6 col-sm-12 col-xs-12"  id="cardTest{{drink.idDrink}}" data-id="{{drink.idDrink}}">
    <img class="card-img-top paddingCard" src="{{drink.strDrinkThumb}}" alt="Card image cap" class="ingredientImage">
    <div class="card-body" data-id="{{drink.idDrink}}">
      <h5 class="card-title">{{drink.strDrink}}</h5>
        <button class="btn btn-warning ingredientImage" type="submit">Instructions</button>

    </div>
  </div>

  {{/each}}

</div>
